body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 86px 24px 80px 24px;
  flex-direction: row;
}

.header_menu {
  display: flex;
  padding-right: 39px;
  line-height: 90%;
  padding-bottom: 3px;
}

.header_menu-link {
  font-size: 18px;
  list-style-type: circle;
  color: #000000;
}

.home-page {
  padding-right: 27px;
  list-style: none;
}

.header_menu-link-gl {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.header_menu-item {
  text-indent: 5px;
  list-style-type: circle;
}

.view_lots {
  padding-right: 31px;
}

.link-mail {
  color: #000;
}

.namber {
  color: #000;
}

.head_logo {
  display: block;
  width: 140.11px;
  padding-right: 326px;
  padding-bottom: 12px;
  padding-top: 5px;
}

.header_logo-image {
  width: 138px;
}

.header_menu-list {
  display: flex;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #000000;
  padding: 0 61px 4px 1px;
  line-height: 136%;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 758px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.container {
  padding-top: 202px;
  display: flex;
  flex-direction: column;
  width: 1100px;
  color: white;
}

.acnt-text {
  font-size: 100px;
  letter-spacing: 30px;
}

.acnt-tet {
  font-size: 100px;
  letter-spacing: 60px;
}

.txtL {
  transform: translateY(-37px);
}

.acnt-text_l {
  font-size: 100px;
  letter-spacing: 60px;
}

.text-left {
  padding-left: 50px;
}

.text_centr {
  text-align: center;
  transform: translateY(-27px);
}

.text_right {
  text-align: right;
  transform: translate(-20px, -25px);
}

.acnt_down {
  font-size: 100px;
  letter-spacing: 60px;
}

.cover_bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 49px;
  padding-top: 102px;
}

.cover_bottom-text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  line-height: 1.27;
  padding-right: 80px;
  padding-top: 4px;
}

.button {
  border: 1px #fff solid;
  padding: 14px 32px 12px 33px;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.lots {
  padding: 179px 24px 149px 24px;
}

.lots__heading {
  color: #000;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  padding: 5px 6px 29px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  gap: 25px;
  margin-bottom: 30px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 334px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay-card {
  inset: 0px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.lost__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card__title-film {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 52px 47px 2px 37px;
  text-decoration: underline;
  z-index: 1;
  color: #fff;
  line-height: 26.4px;
  font-size: 19px;
}

.card__title-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 52px 28px 0 38px;
  text-decoration: underline;
  z-index: 1;
  color: #fff;
  line-height: 136%;
  font-size: 19px;
}

.card__title-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 52px 46px 2px 40px;
  text-decoration: underline;
  z-index: 1;
  color: #fff;
  line-height: 26.4px;
  font-size: 19px;
}

.card__text-film {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px 47px 39px;
  color: #fff;
  font-size: 20px;
  z-index: 1;
  line-height: 119%;
}

.card__text-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px 46px 39px;
  color: #fff;
  font-size: 20px;
  z-index: 1;
  line-height: 120%;
}

.card__text-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 39px 47px 39px;
  color: #fff;
  font-size: 20px;
  z-index: 1;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  color: #000;
  padding: 0px 9px 0 40px;
  text-decoration: underline;
  line-height: 135%;
}

.about {
  padding: 22px 24px 120px 24px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}
.about_log {
  width: 148px;
}

.logo-white {
  padding-top: 8px;
  padding-left: 47px;
}

.about-text {
  width: 690px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 20px;
  margin-top: 100px;
  line-height: 120%;
  gap: 25px;
  margin-left: 360px;
}

.about__title {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 27px;
  margin: -139px 226px 0 358px;
}

.footer {
  padding: 56px 24px 91px 24px;
  display: flex;
  align-items: center;
}
.address_footer {
  font-size: 18px;
  color: #000000;
  line-height: 139%;
  padding-left: 26px;
  padding-right: 218px;
  padding-top: 4px;
}
.footer_menu {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 118%;
  align-items: center;
  padding-bottom: 31px;
}

.gl_footer {
  text-decoration: none;
  color: #000;
}

.view_lots_footer {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid;
}

.aqsion_footer {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid;
}

img {
  width: 48px;
}

.footer_logo_youtube {
  display: block;
  padding-left: 185px;
  padding-bottom: 44px;
}
.footer_logo_vk {
  display: block;
  padding-left: 48px;
  padding-bottom: 44px;
}

.footer_logo_print {
  display: block;
  padding-left: 48px;
  padding-bottom: 44px;
}
